{% extends 'main/base.html' %}
{% load static %}

<!-- ================================
    Start SEO blocks
    ================================= -->
    {% block title %} Blogs {% endblock %}
    {% block description %}{% endblock %}
    {% block keywords %}{% endblock %}
<!-- ================================
    END SEO blocks
    ================================= -->
 
<!-- ================================
    Start CSS blocks
    ================================= -->
    {% block extends_header %}{% endblock %}
<!-- ================================
    END CSS blocks
    ================================= -->  
 
<!-- ================================
    Start Script blocks
    ================================= -->
    {% block extend_footer %}{% endblock %}
<!-- ================================
    END Script blocks
    ================================= -->  
    
    {% block  content %}
 
 <!-- ================================
    Start Content
    ================================= -->
    <section>
      <div class="innerPageBannerCol">
        <div class="container">
          <div class="row g-4 g-md-3  align-items-center">
            <div class="col-md-6">
              <div class="bannerContent">
                <h1 class="xlTitle pb-md-3">See my recent Blogs below</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section>
      <div class="lightBg">
        <div class="container pt-4">
          <div class="row"> <!-- Add a row container -->
            {% for b in blogs %}
              {% if b.is_active %}
                <div class="col-md-6 pColMain mb-4"> <!-- Use col-md-6 to create two columns, and add mb-4 for space -->
                  <div class="pCol d-flex flex-column">
                    <div class="card rounded flex-grow-1">
                      <div class="card-body">
                        <a href = "{% url 'main:blog' slug=b.slug %}"><h5 class="card-title">{{ b.name }}</h5></a>
                        <p>{{b.body}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </section>
    
    {% endblock %}
    <!-- ================================
    End Content
    ================================= -->